*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: "Source Sans 3", sans-serif;
}

img {
  width: 100%;
}

#app {
  max-width: 450px;
  margin: 0 auto;
  padding-top: 10rem;
}

/*-------------
    UTILS
-------------- */

.bold-txt {
  font-weight: 800;
}

/*-------------
    HEADER
-------------- */

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: white;
  padding: 1rem;
}

.app-header img:first-child {
  width: 12.7rem;
}

/*-------------
    POSTS
-------------- */

.posts {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 1rem;
}

.poster-profile-pic,
.app-header img:last-child {
  width: 3.4rem;
  height: 3.4rem;
}

.poster-profile-pic img,
.app-header img:last-child {
  border-radius: 10000%;
}

.poster-location {
  font-size: 1.2rem;
}

.post-footer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 1.4rem;
}

.post-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-actions button {
  width: 2.3rem;
  height: 2.3rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.post-actions button:hover,
.post-actions button:focus {
  opacity: 0.5;
}
