*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.3rem;
}

img {
  width: 100%;
}

/*-------------
    UTILS
-------------- */

.bold-txt {
  font-weight: 800;
}

/*-------------
    POSTS
-------------- */

.post-header {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin: 65px;
}

.poster-profile-pic {
  width: 3.4rem;
  height: 3.4rem;
}

.poster-profile-pic img {
  border-radius: 10000%;
}

.poster-location {
  font-weight: 1.2rem;
}

.post-footer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.post-actions button {
  width: 2.3rem;
  height: 2.3rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.post-actions button:hover,
.post-actions button:focus {
  opacity: 0.5;
}
